/*
 *
 * CSS com estilo específico do tema
 *
 * @Autores
 *
 * - Danilo Sartorelli Barbato
 * - Djeison Possamai
 * - Thiago Garcia Tamosauskas
 *
 * @Referencias
 *
 * Lista de padrões, convenções e boas praticas CSS que devem ser seguidas.
 * https: //github.com/necolas/idiomatic-css/tree/master/translations/pt-BR
 *
 * Plugins para ordenar os atributos de CSS.
 * http://csscomb.com/
 *
 * Validador de CSS do W3C.
 * http://jigsaw.w3.org/css-validator/
 * 
 * Padrão de Cores - Colégios
 * 
 * 
 * AZUL  #00bfff
 * LARANJA #ff9200
 * ROSA #e20899
 * VERDE #b5e70a
 * ROXO #5d50a6
 * Separador cinza   - #d8d8d8
 * Cor fonte         - #555 -> #555
 * Menu hover rgba   - rgba(6, 34, 70, 0.9)
 * Fundo formulario  - #e9e9e9
 * Lupa search       - #b1b1b1
 * Separador cinza   - #d8d8d8
 * Barra cinza topo  - #595959
 * Barra divisao menu- #345d77
 * Fundo azul rodape - #345d79
 * Títulos Azuis     - #345d7e
 * Rodapé Fundo Azul - #345d78
 * Rodapé div amarelo- #ffc119
 * 

/* Cores gerais */

body p
{
    color: #555;
}

.azul
{
    color: #00bfff !important;
}
.laranja
{
    color: #ff9200 !important;
}
.rosa
{
    color: #e20899 !important;
}
.verde
{
    color: #b5e70a !important;
}
.roxo
{
    color: #5d50a6 !important;
}

p.tagAzul:after
{
    display: block;

    width: 40px;
    padding-top: 10px;

    content: '';

    border-bottom: 3px solid #00bfff;
}

p.tagAzul
{
    font-size: 1.2em;
    font-weight: 600;

    color: #bbb;
}

p.tagLaranja:after
{
    display: block;

    width: 40px;
    padding-top: 10px;

    content: '';

    border-bottom: 3px solid #ff9200;
}

p.tagLaranja
{
    font-size: 1.2em;
    font-weight: 600;

    color: #bbb;
}

p.tagRosa:after
{
    display: block;

    width: 40px;
    padding-top: 10px;

    content: '';

    border-bottom: 3px solid #e20899;
}

p.tagRosa
{
    font-size: 1.2em;
    font-weight: 600;

    color: #bbb;
}
/* aniversariantes */

.aniver .dia
{
    float: left;

    width: 45%;
    min-height: 175px;
    margin-bottom: 25px;
    margin-left: 2%;
    padding: 10px;

    border: 1px solid #ddd;
}

.aniver .dia li
{
    list-style: none;
}

.aniver .dia h3
{
    margin-bottom: 10px;
    padding: 5px;

    background-color: #eee;
}

/* Portlets */

/* Portlet de Ramais */

dl.portlet.portletStaticText.portlet-static-ramais-uteis .portletItem
{
    position: relative;

    overflow: hidden;
}
span.ramalNome::before
{
    position: absolute;
    z-index: -1;

    width: 80%;
    height: 1em;

    content: '';

    border-bottom: 1px dashed #333;
}

span.ramalNome
{
    float: left;
    clear: left;

    margin-bottom: 3px;

    background-color: #fff;
}
span.ramalTel
{
    float: right;

    padding-left: 2px;

    background-color: #fff;
}
p.listaCompleta
{
    clear: both;

    padding-top: 10px;

    text-align: right;
}



.tile.imag-portlet img.left
{
    width: 148px;
    height: 148px;
}
.row .tile.imag-portlet
{
    position: relative;

    overflow: hidden;

    margin: 20px auto 0 auto;
}
.row.carrossel-servicos
{
    padding: 0 5px;

    border: 1px solid #d8d8d8;
}

/* Box Acesse Aqui */

#content p.areadosaber a
{
    font-size: 2em;
    font-weight: bold;
    line-height: 1.1em;

    display: block;

    padding: 20px 10px 20px 85px;

    color: #5d50a6;
    border: 5px solid #5d50a6;
    background: url('++resource++metodista.site.colegios/img/bt3.png')no-repeat 10px 50%;
}
#content p.areadosaber a:hover
{
    text-decoration: none !important;

    color: #fff !important;
    background: #5d50a6 url('++resource++metodista.site.colegios/img/bt4.png')no-repeat 10px 50%;
}

#content p.paisefilhos a
{
    font-size: 2em;
    font-weight: bold;
    line-height: 1.1em;

    display: block;

    padding: 20px 10px 20px 115px;

    color: #b5e70a;
    border: 5px solid #b5e70a;
    background: url('++resource++metodista.site.colegios/img/bt1.png')no-repeat 10px 50%;
}
#content p.paisefilhos a:hover
{
    text-decoration: none !important;

    color: #fff !important;
    background: #b5e70a url('++resource++metodista.site.colegios/img/bt2.png')no-repeat 10px 50%;
}

#content .boxAcesseAqui
{
    font-weight: bold;

    padding: 10px;

    color: #b3b3b3;
    border: 1px solid #d4d4d4;
}

#content .boxAcesseAqui p.acesseaquititulo
{
    text-align: center;
}

a.control_next,
a.control_prev
{
    color: #345d7e !important;
}

a.control_next
{
    font-size: 2em;

    position: absolute;
    top: 30%;
    left: 0;

    border-bottom: none !important;
}

a.control_prev
{
    font-size: 2em;

    position: absolute;
    top: 30%;
    right: 0;

    border-bottom: none !important;
}

.collection-item h2 a
{
    font-size: .7em;
    line-height: .7em;
}
.collection-item p.description
{
    font-size: .9em;

    margin-top: -5px;
}


/* Caixas coloridas na casa */

.caixas-coloridas .cover-basic-tile a.imag
{
    display: block;

    width: 50%;
    max-width: 170px;
    min-height: 190px;
    margin: 0 auto 10px;
    padding: 35px 40px;

    background: #b5e70a;
}

.caixas-coloridas .caixa-laranja .cover-basic-tile a.imag
{
    background: #ff9200;
}
.caixas-coloridas .caixa-azul .cover-basic-tile a.imag
{
    background: #00bfff;
}
.caixas-coloridas .caixa-rosa .cover-basic-tile a.imag
{
    background: #e20899;
}
.caixas-coloridas .caixa-verde .cover-basic-tile a.imag
{
    background: #b5e70a;
}
.caixas-coloridas .caixa-roxo .cover-basic-tile a.imag
{
    background: #5d50a6;
}

.caixas-coloridas .cover-basic-tile a.imag:hover
{
    opacity: .5;
}

#content .caixas-coloridas .cover-basic-tile h3,
#content .caixas-coloridas .cover-basic-tile p
{
    text-align: center;
}

h2.roxo img,
h2.verde img,
h2.rosa img,
h2.azul img,
h2.laranja img
{
    padding-right: 10px;
    padding-bottom: 5px;
}

#content p.botaoSaibaMais a
{
    font-size: 1.2em;

    display: inline-block;

    padding: 10px;

    color: #fff;
    border: 1px solid transparent;
    background: #ff9200;
}

#content p.botaoSaibaMais a:hover
{
    padding: 10px;

    text-decoration: none !important;

    color: #ff9200 !important;
    border: 1px solid #ff9200;
    background: #fff;
}

#content p.botaoVertodos a
{
    color: #fff;
    background: #e20899;
}

#content p.botaoVertodos a:hover
{
    color: #e20899 !important;
    border: 1px solid #e20899;
}
#content p.botaoSaibaMaisVazio,
#content p.botaoVertodos
{
    text-align: center;
}

#content p.botaoSaibaMaisVazio a:hover,
#content p.botaoVertodos a:hover
{
    color: #555;
}

#content p.botaoSaibaMaisAzul a
{
    background: #00bfff;
}

#content p.botaoSaibaMaisAzul a:hover
{
    color: #00bfff !important;
    border: 1px solid #00bfff;
}

#content .titulo-h3-azul .cover-basic-tile.tile-content h3 a
{
    font-size: 1.0em;
    line-height: 1.2em;

    display: block;

    padding-top: 10px;
    padding-bottom: 5px;

    color: #00bfff !important;
}

.row.titulo-h3-laranja
{
    text-align: center;
}

.cover-richtext-tile p.rosa
{
    font-size: 1.4em;
}

#content .text-overlay .cover-basic-tile.tile-content h3 a
{
    font-size: 1.6em;

    display: block;
    float: left;

    margin-top: -3em;
    padding: 5px 10px;

    color: #fff !important;
}

#content .text-overlay .cover-basic-tile.tile-content p
{
    font-size: 1.3em !important;

    display: block;
    float: left;

    margin-top: -3em;
    padding: 5px 10px;

    color: #fff;
}


#content .titulo-h3-laranja .cover-basic-tile.tile-content h3 a
{
    font-size: 1.0em;
    line-height: 1.2em;

    display: block;

    padding-top: 10px;
    padding-bottom: 5px;

    color: #ff9200 !important;
}


#content .cover-collection-tile .tile-header h2
{
    font-size: 1.8em;

    margin: 10px 0;

    color: #00bfff;
}

#content .cover-collection-tile .collection-item
{
    font-size: .9em;

    margin-bottom: 5px;
    padding: 5px;

    background: #eee;
}

#content .cover-collection-tile .collection-item h3 a
{
    font-weight: normal;

    padding-left: 5px;

    color: #555;
}

#content .cover-collection-tile .tile-footer a
{
    font-size: 1.2em;
    font-weight: bold;

    display: inline-block;
    float: left;

    margin: 4px;

    text-transform: uppercase;

    color: #555 !important;
    border-bottom: none;
}

#content .cover-collection-tile .tile-footer:before
{
    font-family: FontAwesome;
    font-size: 2em;
    font-weight: normal;
    font-style: normal;
    line-height: 1;

    display: inline-block;
    display: inline-block;
    float: left;

    content: '\f055';

    color: #00bfff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#content .cover-collection-tile .tile-footer
{
    margin-top: 20px;
}

.cover-layout-empty-layout #content .row
{
    margin-bottom: 20px;
}

.cover-richtext-tile p.recebaNewsletter
{
    float: right;

    margin-top: -50px;
}

.cover-richtext-tile p.recebaNewsletter a
{
    border: none !important;
}
.cover-richtext-tile p.recebaNewsletter img
{
    height: 70px;
}

p.tituloNome
{
    font-weight: bold;

    color: #555;
}


/* Newsletter */

#leads-news
{
    width: 95%;

    background: #f2f2f2;
}

.newslwtter
{
    font-size: 1.9em;

    height: 68px;
    margin: 20px 0;

    color: #939393;
    background: url('/++resource++metodista.site.colegios/img/newsletter.png') 7% -5px  no-repeat;
}


#leads-news .newslwtter p span
{
    font-size: 1.7em;

    display: block;

    margin-top: 15px;

    color: #20bdf2;
}

#leads-news .newslwtter p
{
    position: relative;
    top: 4px;
    left: 25%;
}

#leads-news #optin_akna1
{
    position: relative;
    left: 6%;

    height: 258px;

    color: #939393;
}

#leads-news input#ddd
{
    margin-right: 4%;
}

#leads-news span.tel
{
    margin-left: 10%;
}
#leads-news #optin_akna1 > p
{
    font-weight: bold;
}

#leads-news #nome,
#leads-news #email
{
    width: 86%;
}

#leads-news .btn-news
{
    font-size: 1.3em !important;
    font-weight: bold;

    position: absolute;
    right: 10%;

    padding: 5px 40px;

    color: #fff !important;
    border: none;
    background: url('/++resource++metodista.site.colegios/img/botao.png') no-repeat;
}

#leads-news .btn-news
{
    font-size: 1.3em !important;
    font-weight: bold;

    position: absolute;
    right: 10%;

    padding: 7px 40px;

    text-indent: 20px;

    color: #fff !important;
    background-image: url('/++resource++metodista.site.colegios/img/botao.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90% auto;
}
#leads-news .btn-news:hover
{
    padding: 7px 40px;

    color: #fff !important;
    background: url('/++resource++metodista.site.colegios/img/botaohover.png') no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90% auto;
}

/* ==========================================================================
   Geral
   ========================================================================== */
/* breadcrumbs */
div#portal-breadcrumbs
{
    font-weight: 700;

    margin-left: 0;

    color: #555;
}
div#portal-breadcrumbs a
{
    color: #1c3759;
}
/* Título das páginas */

#content h1
{
    color: #345d7e;
}
/* Título de notícias */

h1.documentFirstHeading
{
    font-size: 1.7em;
    line-height: 1.8em;

    color: #1c3759;
}
/* Conteúdos gerais */
#content a:hover,
dl.portlet a:hover
{
    text-decoration: underline !important;

    color: inherit !important;
}
.portletContent a:hover
{
    text-decoration: underline;
}
#content a:hover
{
    text-decoration: underline;
}

/* ==========================================================================
   Notícia
   ========================================================================== */
/* Título de notícias */
h1.documentFirstHeading
{
    font-size: 1.7em;
    line-height: 1.4em;

    color: #555;
}
/* Imagem e Legenda */
figure.newsImageContainer
{
    position: relative;

    float: left;

    margin: 0 10px 10px 0;
}
.newsImageContainer figcaption
{
    font-size: .8em;
    font-weight: bold;

    position: absolute;
    bottom: 0;

    width: 100%;
    min-height: 19px;
    padding: 5px;

    background-color: rgba(255, 255, 255, .7);
}
#content .newsImageContainer a
{
    color: #555;
}
#content .newsImageContainer a:hover
{
    color: #595959 !important;
}
/* Conteúdo */
div#content-core
{
    font-family: Helvetica,Tahoma,sans-serif;
    font-size: 1.2em;

    margin-bottom: 40px;

    color: #555;
}
div#plone-document-byline
{
    margin-bottom: 20px;
}
/* ==========================================================================
   Cabeçalho do Portal
   ========================================================================== */
div#logo
{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 0;
}

header ul.languageMenu
{
    float: right;
}

header ul.languageMenu li a
{
    display: inline-block;
    overflow: hidden;

    width: 29px;
    height: 22px;
    margin: 5px 0;

    text-indent: -1000%;

    background: url(++resource++metodista.site.colegios/img/flag_portuguese.png) no-repeat;
    background-size: 85%;
}

header ul.loginMenu
{
    float: right;

    padding: 6px;

    text-transform: uppercase;
}

header .loginMenu a
{
    font-size: .8em;

    color: #00bfff;
}

header .loginMenu a:hover
{
    color: #ff9200;
}

header ul.languageMenu li:first-child a
{
    background: url(++resource++metodista.site.colegios/img/flag_english.png) no-repeat;
    background-size: 85%;
}

header#main-header
{
    height: 55px;
    margin-bottom: 15px;
}

/* navegação vertical */

dl.portlet ul .navTreeItem a:hover
{
    color: #ff9200 !important;
}

dl.portlet ul.navTree .navTreeCurrentItem
{
    margin-right: -1em;
    margin-left: 0 !important;

    text-decoration: underline;

    color: #ff9200 !important;
    border-left: transparent !important;
    background-color: transparent !important;
}
#column-one .portletNavigationTree .navTree .navTreeItem a
{
    padding-left: 0 !important;

    background: none;
}


#main-navigation li a
{
    color: #fff;
}
#main-navigation li a:hover
{
    color: #ff9200;
}
ul.actionMenu
{
    display: none;
}

/* Menu global */

#navigation
{
    display: inline;

    margin: 0;

    list-style: none;

    text-align: left;

    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .15);
       -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .15);
            box-shadow: 0 0 5px rgba(0, 0, 0, .15);
}

#navigation ul li
{
    position: relative;

    display: inline-block;

    cursor: pointer;
    -webkit-transition: all .2s;
       -moz-transition: all .2s;
        -ms-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s;
}
#navigation li.item-nav
{
    position: relative;

    color: #fff;
}



#navigation li.item-nav ul
{
    display: none;
    visibility: hidden;
    overflow: hidden;

    margin-left: -15px;
    padding: 0;
    padding-left: 15px;

    -moz-transition: opacity .2s;
     -ms-transition: opacity .2s;
      -o-transition: opacity .2s;
         transition: opacity .2s;

    opacity: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;

    -webkit-transiton: opacity .2s;
}
#navigation li.item-nav ul li
{
    display: block;
    float: none;

    padding: 3px 10px;

    border-right: none;
}

div:hover#btnav ul#navigation
{
    position: relative;
    top: 55px !important;

    display: block;

    margin-left: 0;
    padding-top: 2px;
    padding-left: 0;

    background: none;
}

div:hover#btnav ul#navigation
{
    position: relative;
    top: 0;

    display: block;
    clear: both;

    margin-left: 0;
    padding-top: 2px;
    padding-left: 0;

    background: #5d50a6;
}

#navigation li.item-nav ul
{
    display: none !important;
}

#mainMenu #navigation li:hover ul
{
    display: block !important;
    visibility: visible;

    opacity: 1;
    background-color: rgba(93, 80, 166, .9) !important;
}

#navigation li:hover
{
    background: #e20899 !important;
}
#navigation li.item-nav ul li a:hover
{
    color: #fff!important;
}

/* ==========================================================================
   Estilos do page template de error 404
   ========================================================================== */

/* ==========================================================================
   Rodape do Portal
   ========================================================================== */
footer .footerSiteMap
{
    padding-top: 20px;
    padding-bottom: 25px;

    color: #fff;
    background: url('++resource++metodista.site.colegios/img/padrao.png') repeat-x #5d50a6;
    background-color: #5d50a6;
    background-position: top;
    background-size: 50% 7px;
}
footer .footerRedes
{
    display: block;

    height: 1px;

    color: #fff;
    background-color: #d8d8d8;
}
footer .footerRights
{
    color: #fff;
    background-color: #e20899;
}
#footerlocal ul li:first-child
{
    font-size: .9em;
    font-weight: bold;

    padding-top: 20px;
    padding-bottom: 5px;
}
#footerlocal ul li a
{
    color: #fff;
}
#footerlocal ul li a:hover
{
    color: #ff9200;
}
#footerlocal ul li
{
    font-size: .8em;

    display: block;

    width: 100%;
    padding: 1px 0;
}
#footerlocal li.iconFacebook a,
#footerlocal li.iconTwitter a,
#footerlocal li.iconYoutube a,
#footerlocal li.iconLinkedIn a
{
    display: inline-block;

    width: 45px;
    height: 45px;

    text-indent: -1000%;

    background: url('++resource++metodista.site.colegios/img/icon_twitter.png') no-repeat;
    background-size: 108%;
}
#footerlocal li.iconFacebook a
{
    background: url('++resource++metodista.site.colegios/img/icon_facebook.png') no-repeat;
    background-size: 100%;
}
#footerlocal li.iconYoutube a
{
    background: url('++resource++metodista.site.colegios/img/icon_youtube.png') no-repeat;
    background-size: 100%;
}
#footerlocal li.iconLinkedIn a
{
    background: url('++resource++metodista.site.colegios/img/icon_linkedin.png') no-repeat;
    background-size: 100%;
}
#footerlocal li.iconFacebook,
#footerlocal li.iconTwitter,
#footerlocal li.iconYoutube,
#footerlocal li.iconLinkedIn
{
    display: inline-block;
    overflow: hidden;

    width: 45px;
    height: 45px;
    margin-top: 15px;
}
#footerlocal li.iconFacebook a:hover,
#footerlocal li.iconTwitter a:hover,
#footerlocal li.iconYoutube a:hover,
#footerlocal li.iconLinkedIn a:hover
{
    opacity: .5;
}
#footerRedeslocal p
{
    font-size: .9em;

    float: right;

    margin-left: 20px;
    padding-top: 12px;
}
footer #footerRedeslocal a
{
    color: #fff;
}
#footerRedeslocal span
{
    display: block;

    text-indent: -9999px;
}
div#footerRedeslocal .icon
{
    padding: 0;
}
div#footerRedeslocal i.fa.fa-facebook-square,
div#footerRedeslocal i.fa.fa-twitter-square
{
    font-size: 3em;

    padding-top: 0;
}
div#footerRightslocal
{
    padding-top: 20px;
}
div#footerRightslocal p
{
    margin-top: 0;

    text-align: center;

    color: #fff;
}
#footerRightslocal img
{
    display: block;

    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
}

h2
{
    font-size: 2.2em;

    color: #345d7e;
}

div#content-core h2
{
    font-size: 1.35em;
}

.tile h4 a,
.tile .collection-item h2 a
{
    color: #345d7e !important;
}


/* ==========================================================================
   Tiles
   ========================================================================== */

/* Tiles Geral */

.tile
{
    margin-bottom: 15px !important;
}

.tile img.left
{
    width: 100%;
    height: auto;
    margin: 0 1em 0 0 !important;
}

/* Destaque principal com texto sobrescrito */

.destaque-principal .cover-basic-tile.tile-content
{
    position: relative;
}

.destaque-principal .cover-basic-tile.tile-content h3
{
    position: absolute;
    bottom: 0;

    width: 100%;
    padding-left: 0;

    opacity: .8;
    color: #fff !important;
    background: #000;
}

.destaque-principal h3 a
{
    font-size: 11pt !important;

    display: block;

    margin: 0 10px;

    color: #fff !important;
}

.destaque-principal.tile img.left
{
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: 'Titillium Web', Helvetica,Tahoma,sans-serif;
}

/* Tile Basic */

#content .cover-basic-tile.tile-content h3 a
{
    font-family: 'Titillium Web', Helvetica,Tahoma,sans-serif;
    font-size: 11pt;

    color: #555 !important;
}
#content .cover-basic-tile.tile-content > p
{
    font-family: 'Titillium Web', Helvetica,Tahoma,sans-serif;
    font-size: 14pt;

    color: #555;
}

#content .cover-basic-tile h3
{
    clear: left;
}

.tile-edge,
.tile-lowedge,
.tile-middledge
{
    padding: 5px;

    border: 1px solid #d8d8d8;
    border-radius: 0;
}

.tile-edge,
.tile-middledge
{
    border-bottom: 0;
}

#content .sem-link p a
{
    text-decoration: none;

    border-bottom: none;
}

.tile-lowedge .column.col-md-6:first-child,
.tile-middledge .column.col-md-6:first-child
{
    margin-right: -1px;

    border-right: 1px solid #d8d8d8;
}

.tile-lowedge::before,
.tile-middledge::before
{
    display: block;

    width: 99%;
    margin-bottom: 10px;

    content: ' ';

    border-top: 1px solid #d8d8d8;
}

.tile-lowedge
{
    margin-bottom: 20px;
}
.tile-lowedge,
.tile-middledge
{
    border-top: none;
}

.titulo-azul
{
    border: 1px solid #d8d8d8;
}
#content .destaque-borda a:link,
dl.portlet .destaque-borda a:link
{
    border-bottom: none !important;
}


#content .titulo-azul .cover-basic-tile.tile-content > p
{
    padding: 5px;
}

#content .titulo-azul .tile-content p
{
    clear: both;

    min-height: 50px;
    margin: 0;
}

#content .titulo-azul .cover-basic-tile.tile-content h3 a
{
    color: #fff !important;
}

#content .titulo-azul .cover-basic-tile h3
{
    text-align: center;

    background-color: #345d79;
}


#content .cover-basic-tile.tile-content
{
    border: none !important;
}

#content .cover-basic-tile.tile-content > p
{
    font-size: 1em !important;
    line-height: 1.3em;
}

#content .cover-basic-tile.tile-content
{
    border: none;
}

/* Tiles classe Destaque - centrais na home */

#content .destaque-meio .cover-basic-tile.tile-content
{
    min-height: 280px;

    border: 1px solid #d8d8d8 !important;
}

.destaque-meio .cover-basic-tile.tile-content h3,
.destaque-meio .cover-basic-tile.tile-content p
{
    padding-left: 3%;
}

/* Tile destaque com borda  */
.destaque-borda
{
    padding: 5px;

    border: 1px solid #ff9200;
}

/*Banner Home*/

.cover-carousel-tile
{
    display: none;
}

.carrossel-home .cover-carousel-tile
{
    width: 100% !important;
}

/* ==========================================================================
   Portlets
   ========================================================================== */

/*Portlets Padrão*/

.portlet-imag
{
    width: 100%;
    height: auto;
}

.portletHeader span
{
    font-size: 1.6em;
    font-weight: bold;

    margin-left: 1%;

    color: #1c3759;
}

.portletStaticText img
{
    margin-bottom: 4px !important;

    border: 1px solid #d8d8d8;
}

.portletHeader a
{
    font-size: .8em;
}

.portletCollection .portletHeader
{
    padding: .42em 0;
}

.portletCollection .portletContent
{
    padding: 1em;

    border: 1px solid #d8d8d8;
}

dl.portlet dt
{
    padding-right: 0;
    padding-left: 0;

    background: #fff;
}

.portletCollection .portletFooter a:after
{
    font-family: FontAwesome;
    font-size: 1.2em;

    content: '\f18e';

    -webkit-font-smoothing: antialiased;
}

.portletStaticText dd.portletItem
{
    padding: 1em 1em 0 1em !important;

    border: 1px solid #d8d8d8;
}

li.portletItem a.tile,
.icons-on li.portletItem a.tile
{
    margin: 0 !important;
    padding: 0 !important;

    background: none;
}

dl.portlet dd.portletItem a
{
    border-bottom: 0;
}
.portletItemDetails
{
    margin: 0;
    padding: 0;
}
/*Portlet Acesso Restrito*/
.portlet-static-acesso-restrito .portletHeader span
{
    color: #f9d903;
}

/*Portlet Coleção*/

.portletCollection li.portletItem
{
    display: block;
    clear: both;

    border-bottom: 1px solid #d8d8d8;
}

.portletCollection li.portletItem:first-child
{
    border: 0;
}

.portletCollection li.portletItem a,
.portletCollection li.portletItem
{
    font-family: 'Titillium Web', Helvetica,Tahoma,sans-serif;
    font-size: 1em;

    color: #555;
}

.portletCollection .portletItem:last-child
{
    border-bottom: 0;
}

footer.portletFooter
{
    font-size: .8em;
    font-weight: bold;

    clear: both;

    padding: 5px;

    text-align: right;
}

/*Portlet Agenda*/

.portletCollection.portlet-collection-agenda .portletItem .portletItemDetails
{
    font-size: 2em;

    position: relative;

    display: block;
    float: left;

    width: 25%;
    width: 61px;
    height: 51px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;

    text-align: center;

    color: #fff;
    border-radius: 5px;
    background: #345d77;
}

.portletCollection.portlet-collection-agenda .portletItem .portletItemDetails span
{
    font-weight: bold;
    line-height: 1em;

    position: absolute;
    top: 0;
    left: 0;

    display: block;

    height: 34px;
    margin-left: 5px;
}

.portletCollection.portlet-collection-agenda .portletItem .portletItemDetails .mes
{
    font-size: .7em;

    position: relative;
}

.portletCollection.portlet-collection-agenda .portletItem .portletItemDetails .dia
{
    position: relative;

    border-bottom: 1px solid #fff;
}


.portletCollection.portlet-collection-agenda .portletItem a.tile
{
    line-height: 1.5em;

    display: block;
    float: left;

    width: 69%;
    margin-top: 5px !important;
    margin-bottom: 10px !important;
    margin-left: 9px !important;
}

.portletCollection.portlet-collection-agenda .portletItem:last-child
{
    clear: both;
}

/*Portlet Vota*/

.votePortlet .portletItem
{
    overflow: hidden;width: 260px;
}

.votePortlet dd.portletItem
{
    padding: .5em !important;

    border: 0 !important;
}

.votePortlet h3
{
    font-size: 1.2em;
    line-height: 1.25em;

    margin-bottom: 10px;

    color: #1c3759;
}

.votePortlet input[type='submit']
{
    font-family: Arial;
    font-weight: bold;

    position: absolute;
    right: 0;

    width: 97px;
    margin-top: 10px;
    padding: 5px 0;
    padding: 8px 20px 8px 20px;

    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    border: 0 !important;
    -webkit-border-radius: 10;
       -moz-border-radius: 10;
            border-radius: 10px !important;
    background: #161938;
    background-image: -webkit-linear-gradient(135deg, #161938, #151837);
    background-image:    -moz-linear-gradient(135deg, #161938, #151837);
    background-image:     -ms-linear-gradient(135deg, #161938, #151837);
    background-image:      -o-linear-gradient(135deg, #161938, #151837);
    background-image:         linear-gradient(135deg, #161938, #151837);
    -webkit-box-shadow: inset 5px 5px 10px #727487;
       -moz-box-shadow: inset 5px 5px 10px #727487;
            box-shadow: inset 5px 5px 10px #727487;
}

.votePortlet input[type='submit']:hover
{
    text-decoration: none;

    color: #ccc;
    background-image: -webkit-linear-gradient(315deg, #161938, #151837);
    background-image:    -moz-linear-gradient(315deg, #161938, #151837);
    background-image:     -ms-linear-gradient(315deg, #161938, #151837);
    background-image:      -o-linear-gradient(315deg, #161938, #151837);
    background-image:         linear-gradient(315deg, #161938, #151837);
    -webkit-box-shadow: inset -5px -5px 10px #727487;
       -moz-box-shadow: inset -5px -5px 10px #727487;
            box-shadow: inset -5px -5px 10px #727487;
}

/* visão eventos */

.icons-on .contenttype-event
{
    background: none !important;
}

.contenttype-event.url
{
    border: none !important;
}
.entry
{
    float: left;

    width: 97%;
    min-height: 185px;
    margin-bottom: 10px;
    margin-left: 3% !important;
    padding: 0;

    border: 1px solid #d8d8d8;
}
.contenttype-event.url
{
    font-size: 10pt;
    font-weight: bold;

    width: 97% !important;
    padding: 0 7px !important;

    color: #fff !important;
    background: #1c3759 !important;
}

.vevent .summary
{
    color: white;
}

.vevent abbr.dtstart::before
{
    content: 'A partir de:';
}


.vevent abbr.dtend::before
{
    content: 'Até:';
}

.ocation::before
{
    content: 'Onde: ';
}

.galleria-thumbnails-container,
.galleria-info
{
    display: none;
}

.galleria-container
{
    height: 312px !important;
}

.galleria-stage
{
    top: 0;
    right: 0;
    left: 0;

    height: 312px;
}
.dtstart,
.dtend,
.location
{
    display: block;

    width: 100%;

    color: #555 !important;
    border: none !important;
}

.timespan
{
    display: none;
}


.vevent .documentByLine span
{
    color: #fff;
}

.vevent .documentByLine span span.location
{
    display: inline;

    margin-left: -18px;

    color: #555;
}
.vevent .documentByLine abbr span.explain
{
    color: #555;
}


/*  visão de álbum  */

.template-album_view .photoAlbumEntry a
{
    font-size: 0.8em;
    line-height: 1.2;

    height: 165px;
}


.template-album_view .photoAlbumEntry img
{
    width: auto;
    max-height: 80px;
}


/*  visão de evento aberto  */

.template-event_view .event.summary.details
{
    width: 31%;
}

.template-event_view  .event.summary.details > dd
{
    margin: 0 !important;
}

.template-event_view .timezone
{
    display: none;
}


.template-event_view .dtstart::after
{
    content: ' - ';
}


.template-event_view .dtend span
{
    position: relative;
    top: -19px;
    left: -21%;

    float: right;
}


.template-event_view .location::before
{
    content: '';
}

.template-event_view .event.summary.details dd
{
    margin-bottom: 10px !important;
}

/*Logo*/
#logo img
{
    width: 233px;
}

/* Menu latarel Interno*/
.menu_lateral_cursos
{
    font-size: .8em;

    position: relative;

    width: 100%;

    background: #1c3759;
}

.menu_lateral_curso
{
    padding: 10px 0;
}

.menu_lateral_curso li
{
    line-height: 20px;

    position: relative;
    left: 4%;

    display: list-item;
    float: left;

    width: 45%;
    margin-bottom: 4px;
    margin-left: 10px;
    padding: 0;

    list-style-type: square;

    color: #fff;
    background: #1c3759;
}
.menu_lateral_curso a
{
    color: #fff;
}
/*  imagens de noticias */
.newsImage
{
    width: 100%;
}


/* portlet de banner */

.portlet-static-banner p
{
    margin-bottom: 7px;
}

/* Formulario de contato de Fale Conosco */

.template-fg_base_view_p3 #fg-base-edit input[type=text],
.template-fg_base_view_p3 #fg-base-edit textarea
{
    width: 95%;
    padding: 1% 2%;

    border: 1px solid #dadada;
    border-radius: 4px;
    background-color: #f7f7f7;
}

.template-fg_base_view_p3 .formControls
{
    margin: 0;
}

.template-fg_base_view_p3 #fg-base-edit .formControls input[type='submit']
{
    font-size: 1.2em;
    font-weight: 700;

    width: 90px;
    margin-top: 10px;
    padding: 3px 0;

    color: #fff;
    border-radius: 4px;
    background: #e20899;
}

.template-fg_base_view_p3 #fg-base-edit .formControls input[type='submit']:hover
{
    background: #c41289;
}

/* ==========================================================================
   Adaptações responsivas - Media Queries
   ========================================================================== */

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
{
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
{
    .caixas-coloridas .cover-basic-tile a.imag
    {
        max-width: 210px;
        min-height: 250px;
    }

    #logo img
    {
        width: 280px;
    }
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
{
    /* Formulario de contato de Fale Conosco */

    .template-fg_base_view_p3 #fg-base-edit input[type=text],
    .template-fg_base_view_p3 #fg-base-edit textarea
    {
        width: 350px;
        padding: 6px;

        border: 1px solid #dadada;
        border-radius: 4px;
        background-color: #f7f7f7;
    }

    .template-fg_base_view_p3 .formControls
    {
        margin: 0;
    }

    .template-fg_base_view_p3 #fg-base-edit .formControls input[type='submit']
    {
        font-size: 1.2em;
        font-weight: 700;

        width: 90px;
        margin-top: 10px;
        padding: 3px 0;

        color: #fff;
        border-radius: 4px;
        background: #e20899;
    }

    .template-fg_base_view_p3 #fg-base-edit .formControls input[type='submit']:hover
    {
        background: #c41289;
    }

    /* newsletter */
    table#leads-news
    {
        width: 50%;
        margin: 0 auto;
    }

    /*tiles*/

    .caixas-coloridas .cover-basic-tile a.imag
    {
        max-width: 350px;
        min-height: 420px;
    }

    .destaque-borda a.imag
    {
        float: left;

        margin-right: 10px;
    }
    #content .destaque-borda .cover-basic-tile h3
    {
        clear: none !important;
    }

    /* tile banner */

    .cover-carousel-tile
    {
        display: block;
    }

    .galleria-thumbnails-container,
    .galleria-info
    {
        display: none;
    }

    .galleria-container
    {
        height: 300px !important;
    }

    .galleria-stage
    {
        top: 0;
        right: 0;
        left: 0;

        height: 300px;
    }

    /* menu de login */
    header ul.loginMenu
    {
        padding-left: 20px;
    }
    /* Menu global */


    div:hover#btnav ul#navigation
    {
        top: 0 !important;
    }

    #main-navigation #navigation .item-nav:hover
    {
        color: #fff;
        background: rgba(93, 80, 166, .9) !important;
    }

    div:hover#btnav ul#navigation ul
    {
        position: absolute;
        top: 24px;
        left: 0;

        width: 200px;
        margin-left: 0 !important;
        padding: 5px 0 0 !important;

        background: rgba(93, 80, 166, .9) !important;
    }

    #main-navigation #navigation li
    {
        padding-top: 0;
        padding-bottom: 0;

        border-right: 1px solid #5d50a6;
    }
    #main-navigation #navigation li li:hover
    {
        background-color: #e20899 !important;
    }
    #main-navigation li a
    {
        font-size: 1.1em;

        color: #5d50a6;
    }

    #navigation li.item-nav
    {
        color: #5d50a6;
    }

    #navigation li.item-nav span
    {
        font-size: 1.1em;
    }

    #main-navigation li li a
    {
        color: #fff;
    }

    div:hover#btnav ul#navigation
    {
        overflow: visible;

        background-color: transparent;
    }

    #navigation li.item-nav
    {
        height: 20px;
    }
    /* Header */
    div#logo
    {
        float: left;

        margin-bottom: 0;
    }
    nav#main-navigation
    {
        font-size: .9em;

        clear: both;
    }
    /* viewlet de busca */
    div#portal-searchbox
    {
        margin-top: 15px;
        padding: 6px;

        border: 3px solid #5d50a6;
        border-radius: 0;
        background-color: transparent;
    }

    #portal-searchbox input#searchGadget
    {
        color: #5d50a6;
    }
    ul.actionMenu
    {
        display: block;
        float: right;

        padding: 0 5px 5px;

        -webkit-border-bottom-right-radius: .5em;
        -moz-border-radius-bottomright: .5em;
                border-bottom-right-radius: .5em;
        -webkit-border-bottom-left-radius: .5em;
        -moz-border-radius-bottomleft: .5em;
                border-bottom-left-radius: .5em;
        background-color: #595959;
    }
    ul.actionMenu a
    {
        font-size: .7em;

        padding: 0 15px;

        color: #fff;
    }
    ul.actionMenu a:hover
    {
        color: #d8d8d8;
    }

    /* Footer */
    #footerRightslocal img
    {
        float: right;

        padding-top: 0;
    }
    div#footerRightslocal p
    {
        float: left;

        width: 30%;
        min-height: 50px;
        margin-top: 5px;
        padding-top: 20px;
        padding-right: 1%;
        padding-left: 2%;

        border-right: 1px solid #fff;
    }

    div#footerRightslocal p.telefone
    {
        width: 15%;
    }

    /* Header*/


    header#main-header
    {
        height: 135px;
        margin-bottom: 15px;

        background: url('++resource++metodista.site.colegios/img/padrao.png') repeat-x;
        background-position: bottom;
        background-size: 50% 7px;
    }

    /*  Logo */
    #logo img
    {
        width: 490px;
    }


    /*Busca*/

    #search-results dd
    {
        margin: 0!important;
        margin-bottom: 14px;
        padding: 0 0 1em 0!important;

        border-bottom: 1px solid #d8d8d8;
    }
    #search-results
    {
        padding: 1em 0!important;
    }

    fieldset#search-field
    {
        text-align: left;
    }

    .template-search #content .cell
    {
        width: 96% !important;
    }

    .template-search .optionsToggle
    {
        border: transparent;
        background-color: transparent;
    }


    #search-results
    {
        width: 66.5% !important;
    }

    #search-results-bar
    {
        font-size: .9em !important;position: absolute !important;
        top: -173px;right: 0;

        width: 317px !important;
        padding: 0 !important;

        border-top: 0 none !important;border-top: 0 !important;
        border-bottom: 0 none !important;border-bottom: 0!important;
        background: #fff;
    }

    #search-results-bar > span:first-child
    {
        font-size: 1.4em;
        font-weight: bold;

        width: 90%;
        padding: 15px;

        color: #555;
        background: #fff;
    }

    #search-filter .field
    {
        padding: 1em 0 !important;
    }

    #search-filter .field div
    {
        width: 100%;
    }

    #search-filter .field,
    #search-filter
    {
        background: transparent !important;
    }

    #search-filter .field input
    {
        margin-right: 8px;
    }

    #search-results dd
    {
        font-family: 'Times New Roman', sans-serif;
        font-size: 15px;
        font-weight: normal !important;
        line-height: 23px;

        color: #555;
    }

    #search-results-bar dd.actionMenuContent
    {
        display: block;
    }
    .template-search .discreet
    {
        display: none;
    }

    #search-results .contenttype-collective-nitf-content a:visited,
    #search-results .contenttype-collective-nitf-content a:link,
    #search-results .contenttype-collective-nitf-content a
    {
        font-size: 18px;
        font-weight: normal;
        line-height: 33px;

        text-transform: uppercase !important;

        color: #555 !important;
        border-bottom: 0;
    }

    .template-search #search-results-bar dl
    {
        width: 97%;
        margin-left: 20px !important;
    }

    .template-search #rss-subscription,
    .template-search .actionMenuHeader
    {
        display: none;
    }
    #search-results-wrapper
    {
        min-height: 600px;
    }

    .template-search .highlightedSearchTerm
    {
        background-color: transparent;
    }

    .optionsToggle
    {
        font-size: 100%;

        border: medium none transparent;
        background-color: transparent;
    }

    #searchResultsSort > span:first-child,
    #content #search-filter legend
    {
        font-size: 1.25em !important;
        font-weight: normal !important;

        width: 88%;
        padding-right: 0 !important;
        padding-bottom: 5px !important;
        padding-left: 0 !important;

        text-transform: none !important;

        border-bottom: 1px solid #d8d8d8;
        background: transparent !important;
    }

    .highlightedSearchTerm
    {
        font-weight: normal     !important;
    }

    #searchResultsSort > span:first-child
    {
        display: block;

        margin-bottom: 20px;
    }

    #searchResultsSort
    {
        float: left;

        width: 98%;
        padding: 0 20px 20px 20px;
    }

    .template-search #portal-column-content.cell.position-0,
    .template-search #portal-column-content.cell.position-1\3a 4
    {
        border-right: 0 !important;
    }

    .template-search #portal-breadcrumbs
    {
        width: 64%;
        margin-left: 13px;
    }
    .template-search #breadcrumbs-1 > a,
    .template-search #breadcrumbs-1 > span
    {
        font-size: 2.5em;

        text-transform: uppercase;

        color: #555;
    }

    .template-search #content h1.documentFirstHeading
    {
        font-size: 1.7em !important;
        font-weight: normal !important;

        width: 66.5%;
        margin-top: 45px!important;
        padding-bottom: 0!important;

        color: #345d7e;
    }

    .template-search #search-term
    {
        font-weight: bold !important;

        color: #555;
    }

    #content #sorting-options > span
    {
        display: none;
    }

    #content #sorting-options a
    {
        line-height: 1.6em;

        display: block;

        text-transform: capitalize;

        color: #555;
        border-bottom: 0;
    }

    /*FormGen*/

    #fg-base-edit textarea,
    #fg-base-edit select,
    #fg-base-edit input
    {
        padding: 6px;

        border: 1px solid #d8d8d8;
        border-radius: 4px;
        background-color: #e9e9e9;
    }
    .cover-pfg-tile #comments,
    .cover-pfg-tile .formControls,
    .cover-pfg-tile #nome-completo
    {
        width: 80%;
    }
    .cover-pfg-tile #archetypes-fieldname-replyto
    {
        float: left;clear: none;

        width: 53.5%;
    }
    .cover-pfg-tile #archetypes-fieldname-natureza-do-contato
    {
        float: left;clear: none;

        width: 53.5%;margin-top: 7px;
    }
    .cover-pfg-tile #replyto
    {
        width: 94%;
    }
    .cover-pfg-tile #archetypes-fieldname-departamento
    {
        float: left;clear: none;

        width: 25%;
    }
    .cover-pfg-tile #archetypes-fieldname-telefone
    {
        float: left;clear: none;

        width: 26.5%;
    }
    .cover-pfg-tile #archetypes-fieldname-telefone #telefone
    {
        width: 100%;
    }
    .cover-pfg-tile #natureza-do-contato br
    {
        display: none;
    }
    .cover-pfg-tile #natureza-do-contato label,
    #fg-base-edit #natureza-do-contato input
    {
        font-weight: normal;

        display: inline;float: left;
    }
    .cover-pfg-tile #natureza-do-contato label
    {
        margin-right: 5%;
    }
    .cover-pfg-tile #natureza-do-contato input
    {
        margin-top: 4px;margin-right: 1%;
    }

    .cover-pfg-tile  input[type='submit']
    {
        font-family: Arial;
        font-weight: bold;

        position: absolute;
        right: 18%;

        width: 97px;
        margin-top: 15px;
        padding: 8px 20px 8px 20px;

        cursor: pointer;
        text-decoration: none;
        text-transform: uppercase;

        color: #fff;
        border: 0 none !important;
        -webkit-border-radius: 10;
           -moz-border-radius: 10;
                border-radius: 10px !important;
        background: #161938;
        background-image: -webkit-linear-gradient(135deg, #161938, #151837);
        background-image:    -moz-linear-gradient(135deg, #161938, #151837);
        background-image:     -ms-linear-gradient(135deg, #161938, #151837);
        background-image:      -o-linear-gradient(135deg, #161938, #151837);
        background-image:         linear-gradient(135deg, #161938, #151837);
        -webkit-box-shadow: inset 5px 5px 10px #727487;
           -moz-box-shadow: inset 5px 5px 10px #727487;
                box-shadow: inset 5px 5px 10px #727487;
    }

    .cover-pfg-tile input[type='submit']:hover
    {
        text-decoration: none;

        color: #ccc;
        background-image: -webkit-linear-gradient(315deg, #161938, #151837);
        background-image:    -moz-linear-gradient(315deg, #161938, #151837);
        background-image:     -ms-linear-gradient(315deg, #161938, #151837);
        background-image:      -o-linear-gradient(315deg, #161938, #151837);
        background-image:         linear-gradient(315deg, #161938, #151837);
        -webkit-box-shadow: inset -5px -5px 10px #727487;
           -moz-box-shadow: inset -5px -5px 10px #727487;
                box-shadow: inset -5px -5px 10px #727487;
    }

    /*Eventos*/

    .entry
    {
        width: 27%;
    }
    .contenttype-event.url
    {
        width: 94% !important;
    }

    /* Imagens da capa */

    #content .imagem-esquerda .tile-content a,
    #content .imagem-direita .tile-content a,
    #content .imagem-centro .tile-content a
    {
        display: block;
        overflow: hidden;

        max-height: 320px;
        margin-right: 0 !important;
    }

    #content .imagem-centro .tile-content a
    {
        max-height: 152px;
    }
    #content .imagem-esquerda
    {
        margin-right: -25px;
    }
    #content .imagem-centro
    {
        margin-right: -25px;
    }

    #content .imagem-esquerda .tile-content a.imag:hover,
    #content .imagem-direita .tile-content a.imag:hover,
    #content .imagem-centro .tile-content a.imag:hover
    {
        opacity: .6;
    }

    #content .imagem-esquerda .tile-content a.imag::after,
    #content .imagem-direita .tile-content a.imag::after,
    #content .imagem-centro .tile-content a.imag::after
    {
        position: relative;
        top: 0;

        display: block;

        width: 100%;
        height: 320px;

        content: '';

        background:    -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 55%, rgba(0,0,0,.75) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(0,0,0,.75) 100%); /* Chrome10-25,Safari5.1-6 */
        background:         linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 55%,rgba(0,0,0,.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    #content .imagem-centro .tile-content a.imag::after
    {
        height: 152px;
    }

    #content .imagem-esquerda .cover-basic-tile h3,
    #content .imagem-esquerda .cover-basic-tile p,
    #content .imagem-direita .cover-basic-tile h3,
    #content .imagem-direita .cover-basic-tile p,
    #content .imagem-centro .cover-basic-tile h3,
    #content .imagem-centro .cover-basic-tile p
    {
        position: relative;
    }
}



/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
{
    /* Newsletter */

    table#leads-news
    {
        max-width: 490px;
    }

    /* menu site interno */

    div#btnav ul#navigation
    {
        margin-top: 0 !important;
    }

    .menu_lateral_cursos
    {
        color: #555;
        background: #fff;
    }
    .menu_lateral_curso
    {
        color: #555;
    }
    .menu_lateral_curso li
    {
        font-weight: bold;

        width: 100%;
        height: 60px;

        list-style: none;

        text-align: center;

        color: #555;
        border: 1px solid #d8d8d8;
    }
    .menu_lateral_curso li:hover
    {
        height: 54px;

        text-decoration: underline;

        color: #fff;
        border: 4px solid #f9d903;
        background: #1c3759;
    }
    .menu_lateral_curso li a
    {
        position: relative;
        top: 20px;
    }
    .menu_lateral_curso li
    {
        color: #555;
        background: #fff;
    }

    .menu_lateral_curso li:hover,
    .menu_lateral_curso li:hover a
    {
        color: #fff !important;
    }

    .menu_lateral_curso a
    {
        color: #555;
    }
    .portletStaticText ul
    {
        margin-left: 0;

        list-style-type: disc;
    }
    /*  imagens de noticias */
    .newsImage
    {
        width: inherit;
    }

    /* Imagens com icones na capa */
    #content .caixas-coloridas .cover-basic-tile a.imag
    {
        width: 75px;
        height: 75px;
        min-height: 75px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
{
}
