/*
 *
 * CSS com estilo específico para impressão
 *
 * @Autores
 *
 * - Danilo Sartorelli Barbato
 * - Djeison Possamai
 * - Thiago Garcia Tamosauskas
 *
 * @Referencias
 *
 * Lista de padrões, convenções e boas praticas CSS que devem ser seguidas.
 * https: //github.com/necolas/idiomatic-css/tree/master/translations/pt-BR
 *
 * Plugins para ordenar os atributos de CSS.
 * http://csscomb.com/
 *
 * Validador de CSS do W3C.
 * http://jigsaw.w3.org/css-validator/
 */

@media print
{
    #main-navigation,
    #column-two,
    .footerSiteMap,
    #viewlet-social-like,
    .footerRedes,
    .footerRights,
    #column-one,
    #portal-searchbox,
    .topLink
    {
        display: none !important;
    }

    #logo a
    {
        text-decoration: none !important;

        border-bottom: none !important;
    }

    header#main-header
    {
        height: 50px !important;
    }
}
