/*
 *
 * CSS com estilo específico do tema
 *
 * @Autores
 *
 * - Danilo Sartorelli Barbato
 * - Djeison Possamai
 * - Thiago Garcia Tamosauskas
 * - Fernando Henrique Zancope
 *
 * @Referencias
 *
 * Lista de padrões, convenções e boas praticas CSS que devem ser seguidas.
 * https: //github.com/necolas/idiomatic-css/tree/master/translations/pt-BR
 *
 * Plugins para ordenar os atributos de CSS.
 * http://csscomb.com/
 *
 * Validador de CSS do W3C.
 * http://jigsaw.w3.org/css-validator/
 *
 * Padrão de Cores - Rudge Ramos Online
 *
 * Fundo Cinza       - #595959
 * Fundo Azul        - #1c3759
 * Separador Menu    - #495b71
 * Vermelho          - #c4161c
 * Separador cinza   - #d8d8d8
 * Cor fonte         - #404040
 * Menu hover rgba   - rgba(6, 34, 70, 0.9)
 * Fundo azul redes  - #28466c
 * Fundo azul hover  - #3e5171
 * Fundo formulario  - #e9e9e9
 * Lupa search       - #b1b1b1
 *
 */


/* ==========================================================================
   Geral
   ========================================================================== */

/* esconde migalha de pao na capa */
body.section-pagina-inicial #portal-breadcrumbs
{
    display: none;
}

.listingBar
{
    font-size: 1em !important;

    max-width: 500px;
    margin: 0 auto !important;
}

.documentActions
{
    display: none;
}

/* menu mobile */

ul#navigation li
{
    float: left;
}

.topLink a
{
    position: absolute;
    right: 80px;

    display: block;

    width: 80px;
    height: 67px;
    margin-top: -20px;

    text-indent: -9999%;

    background: url('./++theme++rronline-2/img/topo.png') no-repeat;
}


/* menu principal com icones */

div#btnav
{
    width: 270px;
    margin: 0 auto;

    text-align: center;
}

#navigation #portaltab-noticias a,
#navigation #portaltab-video a,
#navigation #portaltab-audio a
{
    font-weight: bold;

    display: block;

    width: 80px;
    height: 70px;
    padding: 15px 5px 5px !important;

    text-align: center;

    color: #fff;
}

#navigation #portaltab-noticias a
{
    background: #ee8c29 url('./++theme++rronline-2/img/noticia.png') bottom 15px center no-repeat;
}

#navigation #portaltab-video a
{
    background: #606 url('./++theme++rronline-2/img/video.png') bottom 15px center no-repeat;
}

#navigation #portaltab-audio a
{
    background: #fc3d4c url('./++theme++rronline-2/img/audio.png') bottom 15px center no-repeat;
}

#navigation #portaltab-noticias a:hover
{
    color: #ee8c29;
    background: transparent url('./++theme++rronline-2/img/noticiahover.png') bottom 15px center no-repeat;
}

#navigation #portaltab-video a:hover
{
    color: #606;
    background: transparent url('./++theme++rronline-2/img/videohover.png') bottom 15px center no-repeat;
}

#navigation #portaltab-audio a:hover
{
    color: #fc3d4c;
    background: transparent url('./++theme++rronline-2/img/audiohover.png') bottom 15px center no-repeat;
}

ul#navigation
{
    z-index: 10;
    top: 140px;
    left: 0;
}
#main-navigation i.fa.fa-bars
{
    display: none;
}

/* imagem de fundo sobre rodape */

footer::before
{
    position: relative;
    z-index: -1;

    display: inline-block;

    width: 100%;
    height: 600px;
    margin-top: -550px;
    margin-bottom: -5px;

    content: ' ';
    -webkit-transform: scaleY(-1);
       -moz-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
         -o-transform: scaleY(-1);
            transform: scaleY(-1);

    background: url('./++theme++rronline-2/img/bg.png') no-repeat center top;
}

body
{
    background: url('./++theme++rronline-2/img/bg.png') no-repeat center top;
}

/* breadcrumbs */
div#portal-breadcrumbs
{
    font-weight: 700;

    margin-left: 0;

    color: #404040;
}
div#portal-breadcrumbs a
{
    color: #1c3759;
}
/* Título das páginas */

#content h1
{
    color: #c4161c;
}

/* viewlet de busca */
div#portal-searchbox
{
    position: relative;

    width: 188px;
    margin-top: 10px !important;
    padding: 0 0 0 30px;

    border: 1px solid #d8d8d8;
    background-color: #fff;
}

div#portal-searchbox
{
    position: absolute;
    top: 15px;
    right: 10px;

    width: 160px;
}

#portal-searchbox input
{
    width: 100px;
}

#portal-searchbox label.hiddenStructure::before
{
    z-index: 1;
    top: 8px;
    right: 5%;

    width: 10px;
}

/*Busca*/
#searchGadget
{
    width: 90%;

    border: none !important;
}

#portal-searchbox input
{
    height: 30px;

    border: none;
}

#portal-searchbox input.searchButton
{
    width: 60px;

    text-transform: lowercase;

    color: #fff;
    background: #0854a8;
}

.searchField
{
    background: transparent !important;
}

#portal-searchbox
{
    position: absolute;
    top: 0;

    display: block;

    width: 92%;
}

#portal-searchbox label.hiddenStructure:before
{
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.4em;

    position: absolute;
    z-index: 1;
    top: 3px;
    left: 6px;

    display: block;

    width: 10px;
    height: 10px;

    content: '\f002';

    color: #b1b1b1;

    -webkit-font-smoothing: antialiased;
}


.portletStaticText img.image-inline
{
    border: none;
}

.futura,
.cbn
{
    font-size: .9em;

    max-width: 160px;
    min-height: 180px;
    margin: 0 auto;
    padding-top: 10px;

    text-align: center;

    border-top: 1px solid green;
    background: #eee;
}

.futura p a,
.cbn p a
{
    color: #404040 !important;
}

.cbn
{
    min-height: 160px;
    margin-top: 20px;
    margin-bottom: 20px;

    border-top: 1px solid red;
}

.futura p,
.cbn p
{
    padding: 5px 3px;
}

/* Estilo de visao sumaria */

h2.tileHeadDate
{
    font-size: 1.3em;

    color: #c4161c;
}

h2.tileHeadline a
{
    font-size: .8em;

    color: #404040 !important;
}

.template-summary_view article.tileItem .description
{
    font-size: 1.1em !important;
}

.template-summary_view article.tileItem.visualIEFloatFix
{
    min-height: 90px;
}

.template-summary_view #content a:link
{
    border-bottom: .1em solid #ccc;
}

/* Título de notícias */

h1.documentFirstHeading
{
    font-size: 1.7em;
    line-height: 1.8em;

    color: #1c3759;
}
/* Conteúdos gerais */
#content a:hover,
dl.portlet a:hover
{
    text-decoration: underline !important;

    color: inherit !important;
}
.portletContent a:hover
{
    text-decoration: underline;
}
#content a:hover
{
    text-decoration: underline;
}

div.managePortletsLink,
a.managePortletsFallback
{
    clear: both !important;
}

/* ==========================================================================
   Notícia
   ========================================================================== */

div#plone-document-byline
{
    display: none !important;
}

#content p.documentPublished
{
    margin-bottom: 0;
}


/* Título de notícias */
h1.documentFirstHeading
{
    font-size: 1.7em;
    line-height: 1.4em;

    color: #404040;
}
/* Imagem e Legenda */
figure.newsImageContainer
{
    position: relative;

    float: left;

    margin: 0 10px 10px 0;
}
.newsImageContainer figcaption
{
    font-size: .8em;
    font-weight: bold;

    position: absolute;
    bottom: 0;

    width: 100%;
    min-height: 19px;
    padding: 5px;

    background-color: rgba(255, 255, 255, .7);
}
#content .newsImageContainer a
{
    color: #404040;
}
#content .newsImageContainer a:hover
{
    color: #595959 !important;
}
/* Conteúdo */
div#content-core
{
    margin-bottom: 40px;

    color: #404040;
}
div#plone-document-byline
{
    margin-bottom: 20px;
}

.documentByLine span.documentAuthor,
span.documentPublished span:first-child
{
    display: none;
}

/*.documentPublished::before
{
    content: 'Publicado em ';
}*/

div#content ul,
div#content ol
{
    margin-left: 18px !important;
}


/* ==========================================================================
   Cabeçalho do Portal
   ========================================================================== */
div#logo
{
    /*margin-left: -1%;*/
    margin-top: 26px;
}
header#main-header
{
    height: 90px;
    margin-bottom: 15px;

    background: url('++theme++rronline-2/img/logorudge.png') no-repeat center bottom;
    background-size: 90%;
}

ul.actionMenu
{
    display: none;
}

ul.footerIcons
{
    text-align: center;
}

/* ==========================================================================
   Estilos do page template de error 404
   ========================================================================== */

/* ==========================================================================
   Rodape do Portal
   ========================================================================== */
footer .footerSiteMap
{
    padding-bottom: 15px;

    color: #fff;
    background-color: #1c3759;
}
footer .footerRedes
{
    display: block;

    height: 40px;

    color: #fff;
    background-color: #28466c;
}
footer .footerRights
{
    color: #fff;
    background-color: #0352ac;
}

.footerIcons li a
{
    display: inline-block;

    min-width: 70px;
    height: 25px;
    margin-bottom: 20px;
    padding-top: 50px;

    text-align: center;

    color: #fff;
    background: #ee8c29 url('./++theme++rronline-2/img/noticia.png') center 10px no-repeat;
}

.footerIcons li.iconFooterNoticias a
{
    min-width: 90px;
}

.footerIcons li.iconFooterNoticias a:hover
{
    background-color: transparent;
}

.footerIcons li.iconFooterVideo a
{
    margin: 0 -4px 0 -4px;

    background: #606 url('./++theme++rronline-2/img/video.png') center 4px no-repeat;
}

.footerIcons li.iconFooterVideo a:hover
{
    background-color: transparent;
}

.footerIcons li.iconFooterAudio a
{
    background: #fc3d4c url('./++theme++rronline-2/img/audio.png') center 4px no-repeat;
}
.footerIcons li.iconFooterAudio a:hover
{
    background-color: transparent;
}

#footerlocal ul li:first-child
{
    font-size: .9em;
    font-weight: bold;

    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 2px;

    border-bottom: 2px solid #c4161c;
}
#footerlocal ul li a
{
    color: #fff;
}
#footerlocal ul li a:hover
{
    border-bottom: 1px solid #fff;
}
#footerlocal ul li
{
    font-size: .8em;

    display: block;

    width: 100%;
    padding: 1px 0;
}
#footerRedeslocal p
{
    font-size: .9em;

    float: right;

    margin-left: 20px;
    padding-top: 12px;
}
footer #footerRedeslocal a
{
    color: #fff;
}
#footerRedeslocal span
{
    display: block;

    text-indent: -9999px;
}
div#footerRedeslocal .icon
{
    padding: 0;
}
div#footerRedeslocal i.fa.fa-facebook-square,
div#footerRedeslocal i.fa.fa-twitter-square
{
    font-size: 3em;

    padding-top: 0;
}
div#footerRightslocal
{
    padding-top: 20px;
}
div#footerRightslocal p
{
    margin-top: 0;

    text-align: center;
}
#footerRightslocal img
{
    display: block;

    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
}

/* ==========================================================================
   Tiles
   ========================================================================== */

/* Tile da capa */

.roxo h3,
.laranja h3
{
    margin-bottom: -5px;
}

.roxo h3
{
    font-size: 1.2em;

    color: #606;
}

.roxo h3 a
{
    font-weight: normal;

    float: right;

    color: #606 !important;
}

.laranja h3
{
    font-size: 1.2em;

    color: #ee8c29;
}

.cover-collection-tile .collection-item
{
    clear: both;

    padding: 7px 0 5px 15px;

    background: #d8d8d8;
}

.cover-collection-tile .tile-header h2
{
    display: block;
    float: left;

    margin-bottom: 20px;

    border-bottom: 7px solid #ee8c29;
}

.cover-collection-tile .tile-footer a
{
    font-size: 1.2em;

    display: block;

    margin-top: 10px;

    color: #ee8c29 !important;
    border: none !important;
}

.cover-collection-tile .collection-item h3 a
{
    font-weight: normal;

    color: #404040 !important;
}

.cover-collection-tile .collection-item:nth-child(odd)
{
    background: #fff;
}

.cover-embed-tile.tile-content h2
{
    font-size: 1.5em;
}

.cover-richtext-tile.tile-content a.cover-footer
{
    font-size: 1.2em;

    display: block;
    float: right;

    margin-top: 10px;

    text-transform: uppercase;

    color: #606 !important;
    border: none !important;
}

h2.videosTitle
{
    display: block;
    float: left;

    margin-bottom: 20px;
    padding: 3px 0 2px 55px;

    text-transform: uppercase;

    color: #606;
    border-bottom: 7px solid #606;
    background: url('./++theme++rronline-2/img/videohover.png') no-repeat;
    background-size: 50px;
}

p.maisVideosTitulo
{
    font-size: 1.5em;
    font-weight: bold;
}

span.maisMenor
{
    font-weight: normal;

    color: #404004;
}

/* Tiles Geral */

.tile
{
    margin-bottom: 15px !important;
}

.tile img.left
{
    width: 100%;
    height: auto;
}

/* Destaque principal com texto sobrescrito */

.destaque-principal .cover-basic-tile.tile-content
{
    position: relative;
}

.destaque-principal .cover-basic-tile.tile-content h3
{
    position: absolute;
    bottom: 0;

    width: 100%;
    padding-left: 0;

    opacity: .8;
    color: #fff !important;
    background: #000;
}

.destaque-principal h3 a
{
    font-size: 11pt !important;

    display: block;

    margin: 0 10px;

    color: #fff !important;
}

.destaque-principal.tile img.left
{
    margin-bottom: 0;
}

/* Tile Basic */

#content .cover-basic-tile.tile-content h3 a
{
    font-family: Helvetica, Tahoma, sans-serif;
    font-size: 11pt;

    color: #404040;
}
#content .cover-basic-tile.tile-content > p
{
    font-family: Helvetica, Tahoma, sans-serif;
    font-size: 14pt;

    color: #404040;
}

#content .cover-basic-tile h3
{
    clear: left;
}


#content .cover-basic-tile.tile-content
{
    border: none !important;
}

#content .cover-basic-tile.tile-content > p
{
    font-size: 1em !important;
}

#content .cover-basic-tile.tile-content
{
    border: none;
}

/* Tiles classe Destaque - centrais na home */

#content .destaque-meio .cover-basic-tile.tile-content
{
    min-height: 280px;

    border: 1px solid #d8d8d8 !important;
}

.destaque-meio .cover-basic-tile.tile-content h3,
.destaque-meio .cover-basic-tile.tile-content p
{
    padding-left: 3%;
}

/* Tile destaque com borda  */
.destaque-borda
{
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}

/*Banner Home*/

.cover-carousel-tile
{
    display: none;
}

.carrossel-home .cover-carousel-tile
{
    width: 100% !important;
}


#content .carrossel-menor .galleria-container
{
    height: 210px !important;   padding-bottom: 10px !important;
}

.carrossel-menor .galleria-stage
{
    height: 230px !important;   margin-top: -10px;
}
.carrossel-menor .galleria-image-nav-right,
.carrossel-menor .galleria-image-nav-left
{
    top: 10px !important;
}



/* ==========================================================================
   Portlets
   ========================================================================== */

/*Portlets Padrão*/

.portlet-imag
{
    width: 100%;
    height: auto;
}

.portletHeader span
{
    font-size: 1.6em;
    font-weight: bold;
    /*margin-left: 1%;*/

    color: #1c3759;
}

.portletStaticText img
{
    margin-bottom: 4px !important;

    border: 1px solid #d8d8d8;
}

.portletHeader a
{
    font-size: .8em;
}

.portletCollection .portletHeader
{
    padding: .42em 0;
}

.portletCollection .portletContent
{
    padding: .6em;

    border: 1px solid #d8d8d8;
}

dl.portlet dt
{
    margin-bottom: 10px;
    padding: 0 0;

    background: #fff;
}

.portletCollection .portletFooter a:after
{
    font-family: FontAwesome;
    font-size: 1.2em;

    content: '\f18e';

    -webkit-font-smoothing: antialiased;
}

.portletStaticText dd.portletItem
{
    padding: 1em 1em 0 1em !important;

    border: 1px solid #d8d8d8;
}

li.portletItem a.tile,
.icons-on li.portletItem a.tile
{
    margin: 0 !important;
    padding: 0 !important;

    background: none;
}

dl.portlet dd.portletItem a
{
    border-bottom: 0;
}
.portletItemDetails
{
    margin: 0;
    padding: 0;
}
/*Portlet Acesso Restrito*/
.portlet-static-acesso-restrito .portletHeader span
{
    color: #c4161c;
}

/*Portlet Coleção*/

.portletCollection li.portletItem
{
    display: block;
    clear: both;

    border-bottom: 1px solid #d8d8d8;
}

.portletCollection li.portletItem:first-child
{
    border: 0;
}

.portletCollection li.portletItem a,
.portletCollection li.portletItem
{
    font-family: Helvetica, Tahoma, sans-serif;
    font-size: 1em;

    color: #404040;
}

.portletCollection .portletItem:last-child
{
    border-bottom: 0;
}

footer.portletFooter
{
    font-size: .8em;
    font-weight: bold;

    clear: both;

    padding: 5px;

    text-align: right;
}

/*Portlet Agenda*/

.portletCollection.portlet-collection-agenda .portletItem .portletItemDetails
{
    font-size: 2em;

    position: relative;

    display: block;
    float: left;

    width: 25%;
    width: 55px;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    /*padding-top: 10px;*/

    text-align: center;

    color: #fff;
    border-radius: 5px;
    background: #1c3659;
}

.portletCollection.portlet-collection-agenda .portletItem:first-child .portletItemDetails
{
    margin-top: 0;
}


.portletCollection.portlet-collection-agenda .portletItem .portletItemDetails span
{
    font-weight: bold;
    line-height: 1em;

    position: relative;

    display: block;

    width: 40px;
    height: 33px;
    margin: 4px 0;
    margin-left: 3px;

    text-align: center;
}

.portletCollection.portlet-collection-agenda .portletItem .portletItemDetails .mes
{
    font-size: .7em;

    position: relative;
}

.portletCollection.portlet-collection-agenda .portletItem .portletItemDetails .dia
{
    position: relative;

    border-bottom: 1px solid #fff;
}


.portletCollection.portlet-collection-agenda .portletItem a.tile
{
    line-height: 1.3em;

    display: block;
    float: left;

    width: 73%;
    margin-top: 9px !important;
    margin-bottom: 10px !important;
    margin-left: 9px !important;
}
.portletCollection.portlet-collection-agenda .portletItem:first-child a.tile
{
    margin-top: 0 !important;
}

.portletCollection.portlet-collection-agenda .portletItem:last-child
{
    clear: both;
}

/*Portlet Vota*/

.votePortlet .portletItem
{
    overflow: hidden;width: 260px;
}

.votePortlet dd.portletItem
{
    padding: .5em !important;

    border: 0 !important;
}

.votePortlet h3
{
    font-size: 1.2em;
    line-height: 1.25em;

    margin-bottom: 10px;

    color: #1c3759;
}

.votePortlet input[type='submit']
{
    font-family: Arial;
    font-weight: bold;

    position: absolute;
    right: 0;

    width: 97px;
    margin-top: 10px;
    padding: 5px 0;
    padding: 8px 20px 8px 20px;

    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    border: 0 !important;
    -webkit-border-radius: 10;
       -moz-border-radius: 10;
            border-radius: 10px !important;
    background: #161938;
    background-image: -webkit-linear-gradient(135deg, #161938, #151837);
    background-image:    -moz-linear-gradient(135deg, #161938, #151837);
    background-image:     -ms-linear-gradient(135deg, #161938, #151837);
    background-image:      -o-linear-gradient(135deg, #161938, #151837);
    background-image:         linear-gradient(135deg, #161938, #151837);
    -webkit-box-shadow: inset 5px 5px 10px #727487;
       -moz-box-shadow: inset 5px 5px 10px #727487;
            box-shadow: inset 5px 5px 10px #727487;
}

.votePortlet input[type='submit']:hover
{
    text-decoration: none;

    color: #ccc;
    background-image: -webkit-linear-gradient(315deg, #161938, #151837);
    background-image:    -moz-linear-gradient(315deg, #161938, #151837);
    background-image:     -ms-linear-gradient(315deg, #161938, #151837);
    background-image:      -o-linear-gradient(315deg, #161938, #151837);
    background-image:         linear-gradient(315deg, #161938, #151837);
    -webkit-box-shadow: inset -5px -5px 10px #727487;
       -moz-box-shadow: inset -5px -5px 10px #727487;
            box-shadow: inset -5px -5px 10px #727487;
}


/*Portlet formGen*/


.portletForm
{
    /*margin-left: 1em !important;*/
    margin-top: 1em !important;
}

.portletForm .portletItem
{
    margin-top: 1em;
    padding: 1em 0 1em 1.5em !important;

    border: 1px solid #ccc;
    /*width: 94%;*/
    /*margin-left: 0.9em;*/
}

.portletForm div.formControls
{
    margin-right: 2em;

    text-align: right;
}

/* visão eventos */

.icons-on .contenttype-event
{
    background: none !important;
}

.contenttype-event.url
{
    border: none !important;
}
.entry
{
    float: left;

    width: 97%;
    min-height: 185px;
    margin-bottom: 10px;
    margin-left: 3% !important;
    padding: 0;

    border: 1px solid #d8d8d8;
}
.contenttype-event.url
{
    font-size: 10pt;
    font-weight: bold;

    width: 97% !important;
    padding: 0 7px !important;

    color: #fff !important;
    background: #1c3759 !important;
}

.vevent .summary
{
    color: white;
}

.vevent abbr.dtstart::before
{
    content: 'A partir de:';
}


.vevent abbr.dtend::before
{
    content: 'Até:';
}

.ocation::before
{
    content: 'Onde: ';
}

.galleria-thumbnails-container,
.galleria-info
{
    display: none;
}

.galleria-container
{
    height: 312px !important;
}

.galleria-stage
{
    top: 0;
    right: 0;
    left: 0;

    height: 312px;
}
.dtstart,
.dtend,
.location
{
    display: block;

    width: 100%;

    color: #404040 !important;
    border: none !important;
}

.timespan
{
    display: none;
}


.vevent .documentByLine span
{
    color: #fff;
}

.vevent .documentByLine span span.location
{
    display: inline;

    margin-left: -18px;

    color: #404040;
}
.vevent .documentByLine abbr span.explain
{
    color: #404040;
}



/*  visão de evento aberto  */

.template-event_view .event.summary.details
{
    width: 31%;
}

.template-event_view  .event.summary.details > dd
{
    margin: 0 !important;
}

.template-event_view .timezone
{
    display: none;
}

.template-event_view .dtstart::after
{
    content: ' - ';
}

.template-event_view .dtend span
{
    position: relative;
    top: -19px;
    left: -21%;

    float: right;
}

.template-event_view .location::before
{
    content: '';
}

.template-event_view .event.summary.details dd
{
    margin-bottom: 10px !important;
}

/*Logo*/
#logo img
{
    width: 138px;
}

#logo img.logosecao
{
    width: 70%;
}

/* Menu latarel Interno*/
.menu_lateral_cursos
{
    font-size: .8em;

    position: relative;

    width: 100%;

    background: #1c3759;
}

.menu_lateral_curso
{
    padding: 10px 0;
}

.menu_lateral_curso li
{
    line-height: 20px;

    position: relative;
    /*left: 4%;*/

    display: list-item;
    float: left;

    width: 45%;
    margin-bottom: 4px;
    /*margin-left: 10px;*/
    padding: 0;

    list-style-type: square;

    color: #fff;
    background: #1c3759;
}
.menu_lateral_curso a
{
    color: #fff;
}
/*  imagens de noticias */
.newsImage
{
    width: 100%;
}

div#content-core
{
    word-wrap: break-word;
}

#content .documentDescription.description
{
    margin-bottom: 1em;
}

/* ==========================================================================
   Adaptações responsivas - Media Queries
   ========================================================================== */

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
{
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
{
    header#main-header
    {
        background-size: 460px;
    }
}

@media only screen and (max-width : 480px)
{
    ul.menu_lateral_curso
    {
        width: 100%;
        margin: 0 auto;

        background: #1c3759;
    }

    .menu_lateral_curso li
    {
        /*line-height: 20px;*/
        font-size: .8em !important;

        position: relative;
        /*display: list-item;*/
        left: 0;
        /*left: 4%;*/

        display: inline-block !important;
        float: none !important;
        /*list-style:square;*/

        width: 46% !important;
        margin-bottom: 7px !important;
        margin-left: 3% !important;
        padding: 0 !important;
        /*list-style-type: square;*/

        color: #fff;
        background: #1c3759;
    }

    #footerRedeslocal p.encontre
    {
        font-size: .7em;

        margin: 0 0;
    }
    .portletStaticText img
    {
        width: 100%;
        margin-bottom: 4px !important;

        border: 1px solid #d8d8d8;
    }

    .template-event_view .event.summary.details
    {
        width: 100%;

        border-bottom: solid 1px #cecece;
    }

    .entry
    {
        float: left;

        width: 100%;
        min-height: 185px;
        margin-bottom: 10px;
        margin-left: 0 !important;
        padding: 0;

        border: 1px solid #d8d8d8;
    }
    .contenttype-event.url
    {
        font-size: 10pt;
        font-weight: bold;
        line-height: 1.5;

        width: auto !important;
        padding: 3px 7px !important;

        color: #fff !important;
        background: #1c3759 !important;
    }

    p.description.discreet
    {
        padding: 0 7px;
    }

    .vevent .documentByLine
    {
        padding: 0 7px;
    }
}

@media only screen and (min-width : 481px) and (max-width : 991px)
{
    ul.menu_lateral_curso
    {
        width: 100%;
        margin: 0 auto;

        background: #1c3759;
    }

    .menu_lateral_curso li
    {
        font-size: .9em !important;

        position: relative;
        /*display: list-item;*/
        left: 0;
        /* left: 4%; */

        display: inline-block !important;
        float: none !important;
        /* list-style: square; */

        width: 46% !important;
        margin-bottom: 7px !important;
        margin-left: 3% !important;
        padding: 0 !important;

        list-style-type: square;

        color: #fff;
        background: #1c3759;
    }
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
{
    /* menu de navegacao */
    div#btnav
    {
        width: inherit;
        margin: inherit;

        text-align: inherit;
    }

    #navigation #portaltab-noticias a,
    #navigation #portaltab-video a,
    #navigation #portaltab-audio a
    {
        display: block;

        width: 42px;
        height: 42px;
        padding: 5px !important;

        text-indent: -999%;
    }

    #navigation #portaltab-noticias a
    {
        background: #ee8c29 url('./++theme++rronline-2/img/noticia.png') center no-repeat;
    }

    #navigation #portaltab-video a
    {
        background: #606 url('./++theme++rronline-2/img/video.png') center no-repeat;
    }

    #navigation #portaltab-audio a
    {
        background: #fc3d4c url('./++theme++rronline-2/img/audio.png') center no-repeat;
    }

    #navigation #portaltab-noticias a:hover
    {
        font-weight: bold;

        height: 29px;
        padding-top: 18px !important;
        padding-right: 85px !important;
        padding-left: 10px !important;

        text-indent: 0 !important;

        color: #fff !important;
        background: #ee8c29 url('./++theme++rronline-2/img/noticia.png') right 5px center no-repeat;
    }

    #navigation #portaltab-video a:hover
    {
        font-weight: bold;

        height: 29px;
        padding-top: 18px !important;
        padding-right: 85px !important;
        padding-left: 10px !important;

        text-indent: 0 !important;

        color: #fff !important;
        background: #606 url('./++theme++rronline-2/img/video.png') right 5px center no-repeat;
    }

    #navigation #portaltab-audio a:hover
    {
        font-weight: bold;

        height: 29px;
        padding-top: 18px !important;
        padding-right: 85px !important;
        padding-left: 10px !important;

        text-indent: 0 !important;

        color: #fff !important;
        background: #fc3d4c url('./++theme++rronline-2/img/audio.png') right 5px center no-repeat;
    }


    ul#navigation
    {
        position: fixed !important;
    }

    ul#navigation li
    {
        float: none !important;
    }

    #link-secao
    {
        left: 283px;

        width: 290px;
    }

    /*tiles*/

    /* tile banner */

    .cover-carousel-tile
    {
        display: block;
    }

    .galleria-thumbnails-container,
    .galleria-info
    {
        display: none;
    }

    .galleria-container
    {
        height: 312px !important;
    }

    .galleria-stage
    {
        top: 0;
        right: 0;
        left: 0;

        height: 312px;
    }

    .destaque-borda
    {
        padding-top: 10px;
    }

    /* Header */
    div#logo
    {
        float: left;
    }
    nav#main-navigation
    {
        font-size: .9em;

        clear: both;
    }
    ul.actionMenu
    {
        display: block;
        float: right;

        padding: 0 5px 5px;

        -webkit-border-bottom-right-radius: .5em;
        -moz-border-radius-bottomright: .5em;
                border-bottom-right-radius: .5em;
        -webkit-border-bottom-left-radius: .5em;
        -moz-border-radius-bottomleft: .5em;
                border-bottom-left-radius: .5em;
        background-color: #595959;
    }
    ul.actionMenu a
    {
        font-size: .7em;

        padding: 0 15px;

        color: #fff;
    }
    ul.actionMenu a:hover
    {
        color: #d8d8d8;
    }

    /* Footer */
    footer p,
    footer ul
    {
        float: left;

        width: 35%;
    }
    footer p
    {
        width: 65%;
    }

    #footerRightslocal img
    {
        float: left;

        margin-top: -35px;
        padding-top: 0;
    }
    div#footerRightslocal p
    {
        font-size: .8em;

        margin-top: 30px;
    }

    /* Header*/


    header#main-header
    {
        height: 180px;
        margin-bottom: 15px;
    }

    /*  Logo */
    #logo img
    {
        width: 260px;
    }


    #logo img.logosecao
    {
        position: absolute;

        width: 66%;
    }

    .logolinksecao
    {
        position: absolute;
        top: 38px;
        left: 29%;

        width: 25%;
        height: 83px;
    }
    /* viewlet busca */

    div#portal-searchbox
    {
        position: relative;
        top: inherit;
        right: inherit;

        width: 180px;
    }

    #portal-searchbox input
    {
        width: 140px;
    }

    /*Busca*/

    #search-results dd
    {
        margin: 0!important;
        margin-bottom: 14px;
        padding: 0 0 1em 0!important;

        border-bottom: 1px solid #d8d8d8;
    }
    #search-results
    {
        padding: 1em 0!important;
    }

    fieldset#search-field
    {
        text-align: left;
    }

    .template-search #content .cell
    {
        width: 96% !important;
    }
    #navigation li.item-nav ul li
    {
        width: 15em !important;
    }
    .template-search .optionsToggle
    {
        border: transparent;
        background-color: transparent;
    }


    #search-results
    {
        width: 66.5% !important;
    }

    #search-results-bar
    {
        font-size: .9em !important;position: absolute !important;
        top: -173px;right: 0;

        width: 317px !important;
        padding: 0 !important;

        border-top: 0 none !important;border-top: 0 !important;
        border-bottom: 0 none !important;border-bottom: 0!important;
        background: #fff;
    }

    #search-results-bar > span:first-child
    {
        font-size: 1.4em;
        font-weight: bold;

        width: 90%;
        padding: 15px;

        color: #404040;
        background: #fff;
    }

    #search-filter .field
    {
        padding: 1em 0 !important;
    }

    #search-filter .field div
    {
        width: 100%;
    }

    #search-filter .field,
    #search-filter
    {
        background: transparent !important;
    }

    #search-filter .field input
    {
        margin-right: 8px;
    }

    #search-results dd
    {
        font-family: 'Times New Roman', sans-serif;
        font-size: 15px;
        font-weight: normal !important;
        line-height: 23px;

        color: #404040;
    }

    #search-results-bar dd.actionMenuContent
    {
        display: block;
    }
    .template-search .discreet
    {
        display: none;
    }

    #search-results .contenttype-collective-nitf-content a:visited,
    #search-results .contenttype-collective-nitf-content a:link,
    #search-results .contenttype-collective-nitf-content a
    {
        font-size: 18px;
        font-weight: normal;
        line-height: 33px;

        text-transform: uppercase !important;

        color: #404040 !important;
        border-bottom: 0;
    }

    .template-search #search-results-bar dl
    {
        width: 97%;
        margin-left: 20px !important;
    }

    .template-search #rss-subscription,
    .template-search .actionMenuHeader
    {
        display: none;
    }
    #search-results-wrapper
    {
        min-height: 600px;
    }

    .template-search .highlightedSearchTerm
    {
        background-color: transparent;
    }

    .optionsToggle
    {
        font-size: 100%;

        border: medium none transparent;
        background-color: transparent;
    }

    #searchResultsSort > span:first-child,
    #content #search-filter legend
    {
        font-size: 1.25em !important;
        font-weight: normal !important;

        width: 88%;
        padding-right: 0 !important;
        padding-bottom: 5px !important;
        padding-left: 0 !important;

        text-transform: none !important;

        border-bottom: 1px solid #d8d8d8;
        background: transparent !important;
    }

    .highlightedSearchTerm
    {
        font-weight: normal     !important;
    }

    #searchResultsSort > span:first-child
    {
        display: block;

        margin-bottom: 20px;
    }

    #searchResultsSort
    {
        float: left;

        width: 98%;
        padding: 0 20px 20px 20px;
    }

    .template-search #portal-column-content.cell.position-0,
    .template-search #portal-column-content.cell.position-1\3a 4
    {
        border-right: 0 !important;
    }

    .template-search #portal-breadcrumbs
    {
        width: 64%;
        margin-left: 13px;
    }
    .template-search #breadcrumbs-1 > a,
    .template-search #breadcrumbs-1 > span
    {
        font-size: 2.5em;

        text-transform: uppercase;

        color: #404040;
    }

    .template-search #content h1.documentFirstHeading
    {
        font-size: 1.7em !important;
        font-weight: normal !important;

        width: 66.5%;
        margin-top: 45px!important;
        padding-bottom: 0!important;

        color: #c4161c;
    }

    .template-search #search-term
    {
        font-weight: bold !important;

        color: #404040;
    }

    #content #sorting-options > span
    {
        display: none;
    }

    #content #sorting-options a
    {
        line-height: 1.6em;

        display: block;

        text-transform: capitalize;

        color: #404040;
        border-bottom: 0;
    }

    /*FormGen*/

    #fg-base-edit textarea,
    #fg-base-edit select,
    #fg-base-edit input
    {
        padding: 6px;

        border: 1px solid #d8d8d8;
        border-radius: 4px;
        background-color: #e9e9e9;
    }
    .cover-pfg-tile #comments,
    .cover-pfg-tile .formControls,
    .cover-pfg-tile #nome-completo
    {
        width: 80%;
    }
    .cover-pfg-tile #archetypes-fieldname-replyto
    {
        float: left;clear: none;

        width: 53.5%;
    }
    .cover-pfg-tile #archetypes-fieldname-natureza-do-contato
    {
        float: left;clear: none;

        width: 53.5%;margin-top: 7px;
    }
    .cover-pfg-tile #replyto
    {
        width: 94%;
    }
    .cover-pfg-tile #archetypes-fieldname-departamento
    {
        float: left;clear: none;

        width: 25%;
    }
    .cover-pfg-tile #archetypes-fieldname-telefone
    {
        float: left;clear: none;

        width: 26.5%;
    }
    .cover-pfg-tile #archetypes-fieldname-telefone #telefone
    {
        width: 100%;
    }
    .cover-pfg-tile #natureza-do-contato br
    {
        display: none;
    }
    .cover-pfg-tile #natureza-do-contato label,
    #fg-base-edit #natureza-do-contato input
    {
        font-weight: normal;

        display: inline;float: left;
    }
    .cover-pfg-tile #natureza-do-contato label
    {
        margin-right: 5%;
    }
    .cover-pfg-tile #natureza-do-contato input
    {
        margin-top: 4px;margin-right: 1%;
    }

    .cover-pfg-tile  input[type='submit']
    {
        font-family: Arial;
        font-weight: bold;

        position: absolute;
        right: 18%;

        width: 97px;
        margin-top: 15px;
        padding: 8px 20px 8px 20px;

        cursor: pointer;
        text-decoration: none;
        text-transform: uppercase;

        color: #fff;
        border: 0 none !important;
        -webkit-border-radius: 10;
           -moz-border-radius: 10;
                border-radius: 10px !important;
        background: #161938;
        background-image: -webkit-linear-gradient(135deg, #161938, #151837);
        background-image:    -moz-linear-gradient(135deg, #161938, #151837);
        background-image:     -ms-linear-gradient(135deg, #161938, #151837);
        background-image:      -o-linear-gradient(135deg, #161938, #151837);
        background-image:         linear-gradient(135deg, #161938, #151837);
        -webkit-box-shadow: inset 5px 5px 10px #727487;
           -moz-box-shadow: inset 5px 5px 10px #727487;
                box-shadow: inset 5px 5px 10px #727487;
    }

    .cover-pfg-tile input[type='submit']:hover
    {
        text-decoration: none;

        color: #ccc;
        background-image: -webkit-linear-gradient(315deg, #161938, #151837);
        background-image:    -moz-linear-gradient(315deg, #161938, #151837);
        background-image:     -ms-linear-gradient(315deg, #161938, #151837);
        background-image:      -o-linear-gradient(315deg, #161938, #151837);
        background-image:         linear-gradient(315deg, #161938, #151837);
        -webkit-box-shadow: inset -5px -5px 10px #727487;
           -moz-box-shadow: inset -5px -5px 10px #727487;
                box-shadow: inset -5px -5px 10px #727487;
    }

    /*Eventos*/

    .entry
    {
        width: 27%;
    }
    .contenttype-event.url
    {
        width: 94% !important;
    }
}




/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
{
    #logo img.logosecao
    {
        position: absolute;

        display: block;

        width: auto;
        height: 98px;
        margin-top: 3px;
        margin-left: 4px;
    }

    /* menu site interno */

    .menu_lateral_cursos
    {
        color: #404040;
        background: #fff;
    }
    .menu_lateral_curso
    {
        color: #404040;
    }
    .menu_lateral_curso li
    {
        font-weight: bold;

        width: 98%;

        list-style: none;

        text-align: center;

        color: #404040;
        border: .1em solid #d8d8d8;
    }
    .menu_lateral_curso li:hover
    {
        width: 96%;
        padding: 10px 0;

        text-decoration: underline;

        color: #fff;
        border: .3em solid #c4161c;
        background: #1c3759;

        /*
        border: 4px solid #c4161c;
        */
    }
    .menu_lateral_curso li a
    {
        position: relative;
    }
    .menu_lateral_curso li
    {
        padding: 13px 0;

        color: #404040;
        background: #fff;
    }
    .menu_lateral_curso li:first-child
    {
        margin-top: 18px;
    }
    .menu_lateral_curso li:last-child
    {
        margin-bottom: 30px;
    }

    .menu_lateral_curso li:hover,
    .menu_lateral_curso li:hover a
    {
        color: #fff !important;
    }

    .menu_lateral_curso a
    {
        color: #404040;
    }
    #content ul,
    .portletStaticText ul
    {
        margin-left: 0;

        list-style-type: disc;
    }
    /*  imagens de noticias */
    .newsImage
    {
        width: inherit;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
{
    header#main-header
    {
        height: 135px;
    }
}
